.nav-wrapper {
  padding: 16px 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #EBE9E31F;
  z-index: 1000;
  backdrop-filter: blur(42px);
}

/* Custom hamburger */
.menu-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  width: 28px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.menu-burger:before,
.menu-burger:after,
.menu-burger div {
  content: "";
  width: 28px;
  height: 2px;
  position: absolute;
  background-color: #000;
  transition: all 250ms ease-out;
}

.menu-burger:before {
  transform: translateY(-8px);
}

.menu-burger div {
  transform: translateY(0);
}

.menu-burger:after {
  transform: translateY(8px);
}

.active.menu-burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.menu-burger div {
  opacity: 0;
}

.active.menu-burger:after {
  transform: translateY(0) rotate(-45deg);
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  backdrop-filter: blur(30px);
  background-color: var(--color-light);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 999;
}

.overlay-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.menu-item p {
  transition: letter-spacing 0.3s;
  transform: translateY(255px);
}

.menu-item p:hover {
  letter-spacing: 0.075em;
}

.nav-link {
  margin-right: 1.5rem;
  font-size: 22px;
  letter-spacing: -0.02em;
  line-height: 136%;
  font-family: Poppins;
  color: #444;
}

.contact-btn {
  gap: 6px;
  font-size: 22px;
  letter-spacing: -0.02em;
  line-height: 136%;
  text-transform: capitalize;
  font-weight: 500;
  font-family: Poppins;
  color: #030303;
  padding: 10px 20px;
  background-color: #EFEFEF;
}

h1 {
  margin-bottom: 0px !important;
}

.contact-btn:hover {
  color: #030303;
  background-color: #EFEFEF;
}

.custom-container {
  max-width: 1440px;
  margin-inline: auto;
}

.hero-section {
  padding: 16px 24px;
}

.hero-line {
  color: var(--color-text-primary);
  font-family: Unbounded;
  font-size: 50px;
  line-height: 50px;
  font-weight: var(--font-weight-primary);
  letter-spacing: -3.2px;
}

.hero-subtitle {
  color: var(--color-text-secondary);
  font-family: Poppins;
  font-size: var(--font-sm);
  font-weight: var(--font-weight-primary);
  line-height: var(--lh-lg);
  max-width: 385px;
  letter-spacing: -0.44px;
}

.container {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}
.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}